# This configuration file is used to run the basic suite of modelE
# regression tests. It is a required argument to mainDriver.py
[USERCONFIG]
# Repository we are testing, usually a directory that contains a git repository.
repository=/discover/nobackup/bvanaart/giss/modele_testing/repos/tracersE3
# What branch. E.g master, planet, AR5_v2_branch
repobranch=tracersE3
# Filesystem where we are doing all the work. If it does not exist, it will be created.
scratchdir=/discover/nobackup/projects/giss_ana/regression/modelE/tracersE3
# Where we keep the regression scripts. Note that scripts are part of modelE code base.
# Therefore, the scripts (and this file) are found under exec/testing directory.
scriptsdir=/discover/nobackup/bvanaart/giss/modele_testing
# Compilation type (release, debug (-O0 -g), traps)
buildtype=release
# Where to mail tests report
#mailto=giss-modele-regression@lists.nasa.gov
mailto=bruce.vanaartsen@nasa.gov
# Note: EMail will also be sent to all addresses in the "mailingList" file in scriptsdir
# (if "mailingList" exists). This replaces the AMLS mailing system that no longer works.
#
#
# The following options are not commonly changed:
# Use SLURM batch system on DISCOVER (NASA only)
# If set to 'no', script (and commands therein) will run interactively.
usebatch=yes
# sponsor ID required by SLURM
sponsorid=s1001
# If we are using "modules" to load compilers then set to "yes"
# NOTE: If modules=yes then specify/use modulelist in COMPCONFIG section
# If set to 'no', scripts will use compilers available in the system.
modules=yes
# Only for modelE: makeOld=in-source, makeNew=out-of-source
makesystem=makeOld
# Path where we keep baseline answers. Used for verification.
basedir=/discover/nobackup/modele/modelE_baseline
# Update the baseline (if different)
updatebase=yes
# Sort diffreport output - currently sorted by rundeck name
sortdiff=yes
# Diffreport message (One sentence, no quotes)
message=Regression testing of modelE tracersE3 branch
# Diffreport format- Standard: html=yes, Add specific diffs table: html=fancy
html=fancy
# Clean the regression testing scratch space (under scratchdir)
cleanscratch=yes

# Rundeck configurations
[E6F40]
compilers=gfortran,intel
modes=serial,mpi
npes=22
verification=restartRun

[E6TdusNcepF40]
compilers=gfortran,intel
modes=serial,mpi
npes=22
verification=restartRun

[E6TminF40clim2000]
compilers=gfortran,intel
modes=mpi
npes=22
verification=restartRun

[E6TomaMinF40]
compilers=gfortran,intel
modes=mpi
npes=80
verification=restartRun

[E6TlernerpsvF40]
compilers=gfortran,intel
modes=serial,mpi
npes=1,8
verification=restartRun

[E6TvsdF40]
compilers=gfortran,intel
modes=serial,mpi
npes=1,22
verification=restartRun

[E6TwisoF40]
compilers=gfortran,intel
modes=serial,mpi
npes=1,22
verification=restartRun

[E6TomaF40]
compilers=gfortran,intel
modes=mpi
npes=22
verification=restartRun

[E6TomaF40int]
compilers=gfortran,intel
modes=mpi
npes=22
verification=restartRun

[R6TomaSSP585F40oQ40]
compilers=gfortran,intel
modes=mpi
npes=88
verification=restartRun

[E6TmatrixF40]
compilers=gfortran,intel
modes=mpi
npes=44
verification=restartRun

[E6obioF40]
compilers=gfortran,intel
modes=mpi
npes=88
verification=restartRun

